<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Full Friends</title>
  </head>
  <body>

    <h1>Full Friends</h1>
    <table border="1px" cellspacing="2px">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Actions</th>
      </tr>
      {% for friend in friends %}
      <tr>
        <td align="center">{{ friend.first_name }}</td>
        <td align="center">{{ friend.last_name }}</td>
        <td align="center">{{ friend.email }}</td>
        <td><a href="/friends/{{ friend.id }}/edit"><button>Edit</button></a><a href="/friends/{{ friend.id }}/delete"><button>Delete</button></a></td>
      </tr>
      {% endfor %}
    </table>
  <hr>
    <h1>Add A Friend</h1>
    <form action="/friends" method="POST">
      <p><input type="text" name="first_name" placeholder="First Name"></p>
      <p><input type="text" name="last_name" placeholder="Last Name"></p>
      <input type="text" name="email" placeholder="Email Address">
      <input type="submit" name="Add Friend" value="Add Friend">
    </form>
  </body>
</html>
